pip==21.1.2
h2o_wave[ml]
numpy==1.20.3
pandas==1.2.4
Pygments==2.9.0
scikit-learn==0.24.2
h2osteam@https://enterprise-steam.s3.amazonaws.com/release/1.8.4/python/h2osteam-1.8.4-py2.py3-none-any.whl
mlops-client@https://s3.amazonaws.com/artifacts.h2o.ai/releases/ai/h2o/mlops/rel-0.40.1/6/mlops_client-0.40.1%2Bea66172.rel0.40.1.12-py2.py3-none-any.whl
